<!DOCTYPE html>
<html>
<head>
  <title>In order</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "in_order/application", media: "all" %>
  <%= javascript_include_tag "in_order/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
